[submodule "source/sg_smooth"]
	path = source/sg_smooth
	url = https://github.com/yuri-vorobyov/sg-smooth.git
[submodule "source/optical_constants"]
	path = source/optical_constants
	url = C:\\Users\\Yuri\\Documents\\MEGA\\Projects\\dev\\optical-constants
